@font-face {
    font-family: "Akaya Kanadaka";
    src: url(../assets/fonts/AkayaKanadaka-Regular.ttf);
}

@font-face {
    font-family: "Alexandria";
    src: url(../assets/fonts/Alexandria-VariableFont_wght.ttf);
}

/* --------------------------------------------------------- */


.title {
    margin: 0;
    background-color: #f7f7f7;
    font-family: "Akaya Kanadaka";
    font-size: 2.75rem;
    font-weight: 200;
    color: #F391A1;
    padding: 0 20rem;
    padding-top: 5rem;
}

.line{
    border-bottom: 2px solid #FBDAE0;
    position: relative;
    left: 20rem;
    width: 30rem;
    top: 10px;
}

.textAndPic {
    display: flex;
    flex-direction: row;
}

.leftText {
    font-family: "Alexandria";
    color: #625555;
    padding: 0 20rem;
    font-size: 1.5rem;
    margin-bottom: 15%;
    width: 250%;
}

.headshot {
    width: 150%;
    /* float: right; */
    top: -180px;
    right: 110%;
    position: relative;
    z-index:1;
    
}


.rainbowCorner {
    width: 210px;
    position:absolute;
    bottom: -75rem;
    right:-1px;
    display: block;
    height: 200px;
}