.contactForm {
    width: 100%;
    margin-top: 40px;
    padding: 0 2.5rem;
}

li {
        padding: 6px;
        margin: 0px;
        list-style-type: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        clear: both;
}

li.half {
    width: 48.75%;
    margin-left: 1%;
    float: left;
    clear: none;

    &:first-child {
        margin: 0;
    }
}

input[type="text"], input[type="email"] {
    width: 97%;
    border: 2px solid #FBDAE0;
    border-radius: 5px;
    height: 50px;
    font-size: 1rem;
    font-family: "Alexandria";
    color: #625555;
    padding: 0 1rem;
    box-sizing: border-box;
}

textarea{
    width: 97%;
    border: 2px solid #FBDAE0;
    border-radius: 5px;
    height: 80px;
    min-height: 160px;
    font-size: 1rem;
    padding: 1rem;
    font-family: "Alexandria";
    color: #625555;
    box-sizing: border-box;
}

textarea:focus, input:focus {
    outline-color: #625555;
}

.iconsContainer {
    position: relative;
    width: 100%;
    display: block;
    flex-direction: row;
    padding: 0 1.5rem;
}

.linkedIn {
    position: relative;
    color:#F391A1;
    transition: .5s ease;
    margin: 20px;
    bottom: 1.5rem;
}

.handshake {
    position: relative;
    color:#F391A1;
    transition: .5s ease;
    margin-bottom: 23px;
    bottom: 1.5rem;
}

.submitButton {
    background-color: #FBDAE0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    font-family: "Alexandria";
    color: #625555;
    letter-spacing: .5px;
    float: right;
    margin-right: 25px;
    transition: .5s ease;
}

.linkedIn:hover, .handshake:hover {
    transform: scale(1.1);
    transition: .5s ease;
    border-radius: 5px;
}

.linkedIn:active, .handshake:active {
    color: #625555;
}

.submitButton:hover {
    transform: scale(1.1);
    transition: .5s ease;
    border-radius: 5px;
}

.submitButton:active {
    background-color: #F391A1;
    border-radius: 5px;
}