body{
    background: #D4F3FF;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment{
    display:flex;
    padding: 10px;
}

.assignment img{
    padding: 10px;
    background: #71A0B3;
    margin: 10px;
}

h1{
    color: darkslategray;
    text-align: center;
}

a{
    text-decoration:none;
    color: #725721;
}